@font-face {
  font-family: "iconfont"; /* Project id 5232947 */
  src: url('iconfont.woff2?t=1789115111388') format('woff2'),
       url('iconfont.woff?t=1789115111388') format('woff'),
       url('iconfont.ttf?t=1789115111388') format('truetype'),
       url('iconfont.svg?t=1789115111388#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cangshu:before {
  content: "\e64f";
}

.icon-chaiquan:before {
  content: "\e647";
}

.icon-buoumao:before {
  content: "\e64c";
}

.icon-cangao:before {
  content: "\e650";
}

.icon-bianmu:before {
  content: "\e651";
}

.icon-fadou:before {
  content: "\e652";
}

.icon-hashiqi:before {
  content: "\e648";
}

.icon-kedaya:before {
  content: "\e653";
}

.icon-jumao:before {
  content: "\e649";
}

.icon-keji:before {
  content: "\e64a";
}

.icon-tianyuanquan:before {
  content: "\e64d";
}

.icon-jinmao:before {
  content: "\e654";
}

.icon-baimao:before {
  content: "\e655";
}

.icon-sanhuamao:before {
  content: "\e64b";
}

.icon-caihongyun:before {
  content: "\e78b";
}

.icon-bangbangtang:before {
  content: "\e78c";
}

.icon-caihongyunyun:before {
  content: "\e78d";
}

.icon-haixing:before {
  content: "\e78e";
}

.icon-hamigua:before {
  content: "\e78f";
}

.icon-guocha:before {
  content: "\e790";
}

.icon-kafei:before {
  content: "\e791";
}

.icon-a-kafei2:before {
  content: "\e792";
}

.icon-lamian:before {
  content: "\e793";
}

.icon-liuxing:before {
  content: "\e794";
}

.icon-xigua:before {
  content: "\e795";
}

.icon-keainiujiaobao:before {
  content: "\e796";
}

.icon-makalong:before {
  content: "\e797";
}

.icon-naicha:before {
  content: "\e798";
}

.icon-xingxing:before {
  content: "\e799";
}

.icon-mianbao:before {
  content: "\e79a";
}

.icon-pingguo:before {
  content: "\e79b";
}

.icon-konglong:before {
  content: "\e79c";
}

.icon-shousi:before {
  content: "\e79d";
}

.icon-tiantianquan:before {
  content: "\e79e";
}

.icon-pisa:before {
  content: "\e79f";
}

.icon-bingqiling:before {
  content: "\e7a0";
}

.icon-apiao:before {
  content: "\e7a1";
}

.icon-caomeijuan:before {
  content: "\e7a2";
}

.icon-dangaojuan:before {
  content: "\e7a3";
}

.icon-hudie:before {
  content: "\e7a4";
}

.icon-hun:before {
  content: "\e7a5";
}

.icon-jingyu:before {
  content: "\e7a6";
}

.icon-gougou:before {
  content: "\e7a7";
}

.icon-huangguan:before {
  content: "\e7a8";
}

.icon-fantuan:before {
  content: "\e7a9";
}

.icon-hudiejie:before {
  content: "\e7aa";
}

.icon-a-xingxing2:before {
  content: "\e7ab";
}

.icon-xiongmaotou:before {
  content: "\e7ac";
}

.icon-juanmaogougou:before {
  content: "\e7ad";
}

.icon-tutu:before {
  content: "\e7ae";
}

.icon-xingxing1:before {
  content: "\e7af";
}

